footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: auto;
}

@media all and (min-width: 768px) {
  .link-area {
    background-color: #aaa;
    width: 100%;
    height: auto;
  }
  .link-area .link-type-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    padding: 10px 0;
    width: min(60%, 768px);
    height: auto;
  }
  .link-area .link-type-list .link-type-item {
    list-style-type: none;
    margin-left: 10%;
  }
  .link-area .link-type-list .link-type-item .blog-list {
    padding-left: 0;
  }
  .link-area .link-type-list .link-type-item .blog-list .blog-item {
    list-style-type: none;
    line-height: 1.4;
    font-size: 1.1em;
  }
  .link-area .link-type-list .link-type-item .blog-list .blog-item a:link, .link-area .link-type-list .link-type-item .blog-list .blog-item a:hover, .link-area .link-type-list .link-type-item .blog-list .blog-item a:active, .link-area .link-type-list .link-type-item .blog-list .blog-item a:visited {
    text-decoration: none;
    color: #444;
  }
  .link-area .link-type-list .page-contents-item {
    list-style-type: none;
    margin-right: 0;
  }
  .link-area .link-type-list .page-contents-item .page-list {
    padding-left: 0;
  }
  .link-area .link-type-list .page-contents-item .page-list .page-item {
    list-style-type: none;
    line-height: 1.4;
    font-size: 1.6em;
  }
  .link-area .link-type-list .page-contents-item .page-list .page-item a:link, .link-area .link-type-list .page-contents-item .page-list .page-item a:hover, .link-area .link-type-list .page-contents-item .page-list .page-item a:active, .link-area .link-type-list .page-contents-item .page-list .page-item a:visited {
    text-decoration: none;
    color: #111;
  }
  .copyright-area {
    background-color: #333;
    width: 100%;
    height: auto;
  }
  .copyright-area .copyright-text {
    margin: 0;
    padding: 10px 0;
    color: #ddd;
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  .link-area {
    background-color: #aaa;
    width: 100%;
    height: auto;
  }
  .link-area .link-type-list {
    padding-left: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: unset;
    align-items: center;
    margin: auto;
    padding: 0;
    width: 100%;
    height: auto;
  }
  .link-area .link-type-list .link-type-item {
    list-style-type: none;
    margin: 0 auto 3%;
  }
  .link-area .link-type-list .link-type-item .blog-list {
    padding-left: 0;
  }
  .link-area .link-type-list .link-type-item .blog-list .blog-item {
    list-style-type: none;
    line-height: 1.4;
    font-size: 1.1em;
  }
  .link-area .link-type-list .link-type-item .blog-list .blog-item a:link, .link-area .link-type-list .link-type-item .blog-list .blog-item a:hover, .link-area .link-type-list .link-type-item .blog-list .blog-item a:active, .link-area .link-type-list .link-type-item .blog-list .blog-item a:visited {
    text-decoration: none;
    color: #444;
  }
  .link-area .link-type-list .page-contents-item {
    list-style-type: none;
    margin: 5% auto;
  }
  .link-area .link-type-list .page-contents-item .page-list {
    padding-left: 0;
  }
  .link-area .link-type-list .page-contents-item .page-list .page-item {
    list-style-type: none;
    line-height: 1.4;
    font-size: 1.4em;
  }
  .link-area .link-type-list .page-contents-item .page-list .page-item a:link, .link-area .link-type-list .page-contents-item .page-list .page-item a:hover, .link-area .link-type-list .page-contents-item .page-list .page-item a:active, .link-area .link-type-list .page-contents-item .page-list .page-item a:visited {
    text-decoration: none;
    color: #111;
  }
  .copyright-area {
    background-color: #333;
    width: 100%;
    height: auto;
  }
  .copyright-area .copyright-text {
    margin: 0;
    padding: 10px 0;
    color: #ddd;
    text-align: center;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../stylesheet/scss/footer.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAEA;EACE;EACA;EAEA;EACA;;;AAGF;EAEA;IACE;IACA;IACA;;EACA;IACE;IAEA;IACA;IACA;IACA;IACA;IAEA;IACA;IACA;IACA;;EACA;IACE;IAEA;;EACA;IACE;;EACA;IACE;IAEA;IACA;;EACA;IACE;IACA;;EAKR;IACE;IAEA;;EACA;IACE;;EACA;IACE;IAEA;IACA;;EACA;IACE;IAEA;;EAQZ;IACE;IACA;IACA;;EACA;IACE;IACA;IACA;IACA;;;AAOJ;EAEA;IACE;IACA;IACA;;EACA;IACE;IAEA;IACA;IACA;IACA;IACA;IAEA;IACA;IACA;IACA;;EACA;IACE;IAEA;;EACA;IACE;;EACA;IACE;IAEA;IACA;;EACA;IACE;IACA;;EAKR;IACE;IAEA;;EACA;IACE;;EACA;IACE;IAEA;IACA;;EACA;IACE;IAEA;;EAQZ;IACE;IACA;IACA;;EACA;IACE;IACA;IACA;IACA%22,%22file%22:%22footer.css%22%7D */
