@charset "UTF-8";

@media all and ( min-width:768px ) {

p.summary-message {
  width: min(60%, 768px);
  height: auto;
  margin: auto;
  text-align: left;
}

.drop-box {
  padding: 10px 0;

  display: block;
  width: min(60%, 768px);
  height: auto;
  margin: 2% auto;
  text-align: center;
  border: 3px #000000 dashed;
}

input[type="submit"] {
  box-shadow: 0px 10px 14px -7px #91b8b3;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color:#768d87;
  border-radius:4px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:1.4em;
  font-weight:normal;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2b665e;
}
input[type="submit"]:hover {
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color:#6c7c7c;
}
input[type="submit"]:active {
  position:relative;
  top:1px;
}


.returned-wrapper {
  margin: auto;
  width: min(60%, 768px);
  height: auto;
}

.returned-wrapper .confirm-result-box {
  padding-left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.returned-wrapper .confirm-result-box .download-area {
  list-style-type: none;

  margin: 3% auto;
  margin-left: 0;
  padding: 0 10px 20px;
  width: 55%;
  height: 25vh;

  background-color: #ceff91;
}

.returned-wrapper .confirm-result-box .download-area .result-title {
  margin: 3% auto;
  text-align: center;
  color: #506339;
  font-size: 1.6em;
}

.returned-wrapper .confirm-result-box .notice-area {
  list-style-type: none;

  margin: 3% auto;
  margin-right: 0;
  padding: 0 10px 20px;
  width: 35%;
  height: 25vh;

  background-color: #ff91a0;
}

.returned-wrapper .confirm-result-box .notice-area .error-title {
  margin: 3% auto;
  text-align: center;
  color: #4f2e32;
  font-size: 1.6em;
}

.introduction {
  margin: 5% auto auto;
  width: min(60%, 768px);
  height: auto;
}

.introduction .explanation {
  font-size: 1.1em;
  letter-spacing: 2px;
  line-height: 1.4;
}

.notes-wrapper {
  margin: auto;
  width: min(60%, 768px);
  height: auto;
}

.notes-wrapper .notes-block {
  margin: 5% auto;
}

.notes-wrapper .notes-block .notes-title {
  color: red;
  font-size: 1.4em;
  font-weight: normal;
}

.notes-wrapper .notes-block .notes-list {
  line-height: 1.4;
}

.notes-wrapper .notes-block .notes-list::before {
  content: "※";
}

.image-type-caption {
  margin: 5% auto auto;
  width: min(60%, 768px);
  height: auto;

  letter-spacing: 2px;
}

.show-image-button {
  margin: auto auto 5%;
  width: min(60%, 768px);
  height: auto;
}

.show-image-button .button-list {
  padding-left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.show-image-button .button-list .button-item {
  list-style-type: none;

  margin: auto 3%;
}

.show-image-button .button-list .button-item label.green-button {
	box-shadow:inset 0px -3px 7px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.show-image-button .button-list .button-item label.green-button:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.show-image-button .button-list .button-item label.green-button:active {
	position:relative;
	top:1px;
}

.show-image-button .button-list .button-item label.blue-button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.show-image-button .button-list .button-item label.blue-button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.show-image-button .button-list .button-item label.blue-button:active {
	position:relative;
	top:1px;
}

.show-image-button .image-category-block {
  display: none;

  width: 100%;
  height: auto;
}

.show-image-button .image-category-block h4 {
  font-size: 1.6em;
  font-weight: normal;
  letter-spacing: 1.4;
}

.show-image-button .image-category-block .description-text {
  line-height: 1.4;
  letter-spacing: 2px;
}

.show-image-button .image-category-block .description-text img {
  float: right;

  width: 40%;
  height: auto;
  margin-left: 2%;
  margin-bottom: 2%;
}

}


@media all and ( max-width:767px ) {

p.summary-message {
  width: 90%;
  height: auto;
  margin: auto;
  text-align: left;
}

.drop-box {
  padding: 10px 0;

  display: block;
  width: 90%;
  height: auto;
  margin: 2% auto;
  text-align: center;
  border: 3px #000000 dashed;
}

input[type="submit"] {
  box-shadow: 0px 10px 14px -7px #91b8b3;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color:#768d87;
  border-radius:4px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:1.4em;
  font-weight:normal;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2b665e;
}
input[type="submit"]:hover {
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color:#6c7c7c;
}
input[type="submit"]:active {
  position:relative;
  top:1px;
}

.returned-wrapper {
  margin: auto;
  width: 90%;
  height: auto;
}

.returned-wrapper .confirm-result-box {
  padding-left: 0;

  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: unset;
  align-items: center;
}

.returned-wrapper .confirm-result-box .download-area {
  list-style-type: none;

  margin: 3% auto;
  padding: 0 10px 20px;
  width: 90%;
  height: auto;

  background-color: #ceff91;
}

.returned-wrapper .confirm-result-box .download-area .result-title {
  text-align: center;
  color: #506339;
  font-size: 1.6em;
}

.returned-wrapper .confirm-result-box .notice-area {
  list-style-type: none;

  margin: 3% auto;
  padding: 0 10px 20px;
  width: 90%;
  height: auto;

  background-color: #ff91a0;
}

.returned-wrapper .confirm-result-box .notice-area .error-title {
  text-align: center;
  color: #4f2e32;
  font-size: 1.6em;
}

.introduction {
  margin: 5% auto;
  width: 90%;
  height: auto;
}

.introduction .explanation {
  font-size: 1.1em;
  letter-spacing: 2px;
  line-height: 1.2;
}

.notes-wrapper {
  margin: 5% auto;
  width: 100%;
  height: auto;
}

.notes-wrapper .notes-block {
  margin: 5% auto;
  width: 90%;
  height: auto;
}

.notes-wrapper .notes-block .notes-title {
  color: red;
  font-size: 1.4em;
  letter-spacing: 2px;
  font-weight: normal;
}

.notes-wrapper .notes-block .notes-list {
  margin-left: 5%;
  line-height: 1.2;
}

.notes-wrapper .notes-block .notes-list::before {
  content: "※";
}

.image-type-caption {
  margin: 5% auto auto;
  width: 90%;
  height: auto;

  letter-spacing: 2px;
}

.show-image-button {
  margin: auto auto 5%;
  width: 90%;
  height: auto;
}

.show-image-button .button-list {
  padding-left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.show-image-button .button-list .button-item {
  list-style-type: none;

  margin: auto 3%;
}

.show-image-button .button-list .button-item label.green-button {
	box-shadow:inset 0px -3px 7px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.show-image-button .button-list .button-item label.green-button:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.show-image-button .button-list .button-item label.green-button:active {
	position:relative;
	top:1px;
}

.show-image-button .button-list .button-item label.blue-button {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.show-image-button .button-list .button-item label.blue-button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.show-image-button .button-list .button-item label.blue-button:active {
	position:relative;
	top:1px;
}

.show-image-button .image-category-block {
  display: none;

  width: 100%;
  height: auto;
}

.show-image-button .image-category-block h4 {
  margin-bottom: 2%;
  font-size: 1.6em;
  font-weight: normal;
  letter-spacing: 1.4;
}

.show-image-button .image-category-block .description-text {
  line-height: 1.4;
  letter-spacing: 2px;
}

.show-image-button .image-category-block .description-text img {
  float: none;

  width: 100%;
  height: auto;
}

}
